# Composer
composer.lock
composer.phar

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/compiled/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Custom
*.log
doc/*
.idea*
sftp*
imv.sublim*
